<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/cadastro_disciplina.css">
  </head>

  <body>
    
    <%- include("partials/header") %>
    <%- include("partials/message") %>

    <div class="pagina">
      <h1>Cadastro de Disciplina</h1>

      <fieldset id="login_box">
        <form method="post" action="/cadastro_disciplina" onsubmit="return prepararEnvio()">
          <p>
            <label for="disciplina">Nome da Disciplina</label><br>
            <input type="text" name="nomedisciplina" id="nomedisciplina" class="inputbox" required>
          </p>

          <p>
            <label for="disciplina">Horário</label><br>
            <input type="text" name="horario" id="horario" class="inputbox" required>
          </p>

          <p>
            <label for="tipo">Tipo:</label><br>
            <select name="tipo" id="tipo" class="inputbox" required>
              <option value="">-- Selecione o tipo --</option>
              <option value="criar">Criar</option>
              <option value="excluir">Excluir</option>
            </select>
          </p>
          
          <p>
          <label for="professorSelecionado">Professor Responsável:</label><br>
          <select name="professorSelecionado" required>
            <% professores.forEach(p => { %>
              <option value="<%= p._id %>"><%= p.nomeDisciplina %> (<%= p._id %>)</option>
            <% }) %>
          </select>
          </p>

          <p>
            <input type="submit" value="Cadastrar Disciplina" class="button">
          </p>
        </form>
      </fieldset>
    </div>

  </body> 
</html>