<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/css/materiais.css">
    <title><%= title %></title>
  </head>

  <body>
    
    <%- include("partials/header") %>
    <%- include("partials/message") %>

    <% if(todosMateriais) { %>
      <% for (let material of todosMateriais) { %>
        <fieldset id="fieldset">
          <form action="/video_player" method="POST">
            <input type="hidden" name="videoselecionado" value="<%= material._id %>">
            <p>
              <button type="submit" class="info-label" style="background:none;border:none;cursor:pointer;">
                <strong>Material:</strong> <%= material.nomeOriginal %>
              </button>
            </p>
          </form>
          <p>
            <label class="info-label">
              <strong>Tipo:</strong> 
              <%= material.tipo %>
            </label>
          </p>
        </fieldset> 
        <br>
      <% } %>
    <% } else { %>
      <p>nothing to show here</p>
    <% } %>

  </body>
</html>