<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar turma</title>
    <link rel="stylesheet" href="/css/upload.css">
</head>
<body>

    <!--  alunos -->
    <%- include("partials/header") %>
    <%- include("partials/message") %>

    <% if (alunos && disciplinas) { %>
        <h1>Matricular alunos</h1>
        <fieldset id="login_box">
        <form action="/matricular_alunos" method="POST">

          <label>Disciplina</label><br>
          <select name="disciplina_selecionada" class="inputbox" required>
            <% disciplinas.forEach(d => { %>
              <option value="<%= d._id %>"><%= d.nomeDisciplina %> (<%= d._id %>)</option>
            <% }) %>
          </select><br><br>

        <label>Alunos a adicionar</label><br>
        <select name="aluno_selecionado" class="inputbox" required>
          <% alunos.forEach(aluno => { %>
            <option  value="<%= aluno._id %>"><%= aluno.nome %> (<%= aluno._id %>)</option>
         <%  }) %>
        </select><br><br>
        
        <button type="submit" class="button">Matricular alunos selecionados</button>
        </form>
      </fieldset>
    <% } %>

</body>
</html>