<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/meu_perfil.css"> 
  </head>

  <body>

    <%- include("partials/header") %>
    <%- include("partials/message") %>

    <div class="pagina">
      <h1>Meu Perfil</h1>

     <fieldset id="fieldset">
        <img src="https://i.pinimg.com/474x/bc/8f/29/bc8f29c4183345bcc63bd4a161e88c71.jpg" id="foto_perfil">

<p>
          <label class="info-label">Nome</label><br>
          <span class="info-box"><%= profile.nome %></span>
        </p>

        <p>
          <label class="info-label">Usuário</label><br>
          <span class="info-box"><%= profile.username %></span>
        </p>

        <p>
          <label class="info-label">Data de Criação</label><br>
          <span class="info-box"><%= profile.crDate ? new Date(profile.crDate).toLocaleDateString('pt-BR') : '' %></span>
        </p>

        <% if (profile.semestre) { %>
            <p>
              <label class="info-label">Semestre</label><br>
              <span class="info-box"><%= profile.semestre %></span>
            </p>
        <% } %>

        <p>
          <a href="/logout" class="button">Desconectar conta</a>
        </p>

      </fieldset>
    </div>

  </body>
</html>