<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/media_pages.css">
    <title><%= title %></title>
</head>
<body>

    <%- include("partials/header") %>
    <%- include("partials/message") %>
<div class="page-content">
    <% if (video) { %>
    <h1> <%= video.nomeOriginal %> </h1>
    <video controls class="video_player">
        <source src="/videos/<%= video.filename %>">
    </video>
    <% } %>
</div>
</body>
</html>